.waterForm_basic {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.waterForm_container {
    background: lightgray;
    opacity: 0.95;
    width: 90%;
    margin-top: 50px;
    display: flex;
}

.buttons_container {
    display: flex;
    justify-content: center;
    width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    background: lightgray;
}

.all_buttons {
    /*margin-left: 40px;*/
    margin-top: 62px;
}