@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Piedra&family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', sans-serif;
}

html, body, body > div {
  /*height: 100vh;*/
}
