.container_layout_enter {
    min-height: 100vh;
    background-image: url("./login-wallNew.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}