#notificationEnter_container {
    display: flex;
    position: relative;
    transition: 0.2s;
    /*animation: myAnimOpen 1.5s ease 1s 1 normal forwards;*/
}

/*@keyframes myAnimOpen {*/
/*    0% {*/
/*        transform: translateX(-300px);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(0px);*/
/*    }*/
/*}*/

#notificationEnter_container.active {
    display: flex;
    position: relative;
    transition: 0.2s;
    animation: myAnimClose 1s ease 1 normal forwards;
}

@keyframes myAnimClose {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-300px);
    }
}

.notification_form {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 300px;
    background: #444444;
    border-radius: 0px 100px 100px 10px;
    opacity: 0.6;
}

#notificationEnter_container .notification_form i {
    display: flex;
    position: absolute;
    margin: 30px 210px;
    font-size: 40px;
    padding: 0;
}

#notificationEnter_container .notification_form i:hover {
    cursor: pointer;
    color: black;
}

#notificationEnter_container .notification_form .notification_text_area {
    position: absolute;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40vh;
    text-align: center;
}

#notificationEnter_container .notification_form .notification_text_area hr {
    margin-top: 20px;
    margin-bottom: 20px;
}






